<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BookZone</title>
</head>
<body>

<div class="container my-5">
    <h4 class="text-center">Edit Book</h4>
    <form class="col-md-4 offset-md-4" th:action="@{/save}" method="post" th:object="${book}" onsubmit="return validateForm()">
        <input type="hidden" name="id" th:value="${book.id}">
        <div class="mb-3">
            <label for="name" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" th:value="${book.title}">
        </div>
        
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" name="author" th:value="${book.author}">
        </div>
        
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" name="category" th:value="${book.category}">
        </div>
        
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="number" class="form-control" name="year" th:value="${book.year}">
        </div>
        
        <center>
               <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- JavaScript to validate form -->
<script>
    function validateForm() {
        var title = document.forms[0]["title"].value.trim();
        var author = document.forms[0]["author"].value.trim();
        var category = document.forms[0]["category"].value.trim();
        var year = document.forms[0]["year"].value.trim();

        if (title === "" || author === "" || category === "" || year === "") {
            alert("Title, author, category, and year cannot be empty");
            return false;
        }

        year = parseInt(year);

        if (isNaN(year) || year < 1965) {
            alert("Year must be a valid number and at least 1965");
            return false;
        }

        return true;
    }
</script>

</body>
</html>
