# Compiled class ###
*.class

# Package ###
*.jar

# IDE specific (keep eclipse related mostly) ###
#.vscode
#.project
#.classpath
#.settings
#.metadata
#target

# Mac Specific ###
.DS_Store
._*
__MACOSX


# Misc ###
*.jpeg
*.png
*.jpg
